/*
    Project: Scan Tool WP
    Description: Prueba técnica NativApps
    Develop: Fabio Medina Medina
    Develop URI: http://www.fabiomedina.com
    Location: Tunja, Colombia
    ------ COLORS ------
    orange: #EF891B;
    green-c: #004D90;
    red-e: #002950;
    green: #38EF7D;
    gray: #8A8A8A;
*/
:root{
    --orange: #EF891B;
    --green-c: #98FB98;
    --red-e: #FF6347;
    --green: #38EF7D;
    --gray: #222;
}
.stwp-version{
    font-size:12px;
    margin-left:7px
}
.contenedor-temas .tema.activo p{
    font-weight: bold;
}
.contenedor-plugins .plugin.activo{
    background: var(--green-c);
}
.contenedor-plugins .plugin.inactivo{
    background: var(--red-e);
}
