/*
    Project: Scan Tool WP
    Description: Prueba técnica NativApps
    Develop: Fabio Medina Medina
    Develop URI: http://www.fabiomedina.com
    Location: Tunja, Colombia
    ------ COLORS & FONTS ------
    orange: #EF891B;
    green-c: #004D90;
    red-e: #002950;
    green: #38EF7D;
    gray: #8A8A8A;
    font-primary: 'Poppins', sans-serif;
    f-regular: 400;
    f-bold: 700;
*/
:root{
    --orange: #EF891B;
    --orange-l: #F5A44E;
    --orange-d: #D17818;
    --green-c: #98FB98;
    --red-e: #ffc8be;
    --green: #bcffd5;
    --gray: #222;
    --font-primary: 'Poppins', sans-serif;
    --f-regular: 400;
    --f-bold: 700;
}
/* GENERALES */
.stwp-contenedor{
    padding: 1rem;
}
.stwp-contenedor h1, .stwp-contenedor h2, .stwp-contenedor h3, .stwp-contenedor p, .stwp-contenedor a{
    font-family: var(--font-primary);
}
/* TITULO PÁGINA */
.wrap.stwp-contenedor .titulo-pagina{
    color: var(--gray);
    font-size: 2rem;
    font-weight: var(--f-bold);
}
.stwp-version{
    font-size:0.7rem;
    margin-left:0.7rem;
}
/* CAJAS */
.caja-stwp{
    border: none;
    box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 4%);
    background: #FFF;
    border-radius: 0.5rem;
}
.info-sitio.caja-stwp{
    background: linear-gradient(180deg, var(--orange-l) 0%, var(--orange) 100%);
    color: #FFF;
}
.postbox.caja-stwp>h3{
    padding: 0.7rem  1rem;
    background: var(--orange);
    background: linear-gradient(180deg, var(--orange-l) 0%, var(--orange) 100%);
    color: #FFF;
    border-radius:  0.5rem 0.5rem 0 0;
    border-bottom: 1px solid #fff;
}
.info-sitio.postbox.caja-stwp>h3{
    background: transparent;
}
.postbox.caja-stwp .inside{
    padding: 0 1rem 1rem;
}
/* DASHBOARD PAGE */

/* CAJAS TEMAS */
.contenedor-temas .tema p, .contenedor-plugins .plugin p{
    margin: 0;
}
.contenedor-temas>.tema, .contenedor-plugins>.plugin{
    padding: 0.7rem;
    border-bottom: 1px solid #F9F9F9;
}
.contenedor-temas>.tema:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}
.contenedor-temas .tema.tema-activo p{
    font-weight: var(--f-bold);
    margin: 0;
}
/* CAJAS PLUGINS */
.contenedor-plugins>.plugin{
    border-bottom: 0;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
}
#plugins-themes .caja-plugins .inside{
    padding: 1rem;
    margin: 0;
}
.contenedor-plugins .plugin.activo{
    background: var(--green-c);
}
.contenedor-plugins .plugin.inactivo{
    background: var(--red-e);
}
.plugin .titulo-plugin{
    font-weight: bold;
}
/* ABOUT PAGE */
.redes-sociales a{
    text-decoration: none;
    color: var(--orange);
}
.redes-sociales a:hover{
    color: var(--orange-d);
}
.redes-sociales a span, .redes-sociales a span:before{
    font-size: 25px;
    width: 25px;
    height: 25px;
}
.logos{
    margin-top: 1rem;
}